body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

svg {
  background: #b7d3e0;
}

.streets path,
.arteries path,
.freeways path {
  fill: none;
  stroke: white;
}

.neighborhoods path {
  stroke: #eee;
  fill: #eee;
}

.route path {
  fill: none;
  stroke-opacity: 0.8;
  stroke-width: 0.5;
}

