body {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}


* {
  box-sizing: border-box;
}

svg {
  background: #b7d3e0;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.neighborhoods path {
  stroke: #eee;
  fill: #eee;
}

.route path {
  fill: none;
  stroke-opacity: 0.8;
  stroke-width: 0.5;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.buttonWrapper {
  padding: .5rem;
}

circle {
  transition: all 15000ms ease;
}

button {
  border-radius: 6px;
  cursor: pointer;
  border-width: 3px;
}

