body {
  margin: 0;
  font-family: sans-serif;
}

* { box-sizing: border-box; }

.container {
  width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.buttonWrapper { padding: .5rem; }

button {
  border-radius: 6px;
  cursor: pointer;
  border-width: 3px;
}

svg { background: #b7d3e0; }

.neighborhoods path {
  stroke: #eee;
  fill: #eee;
}

.route path {
  fill: none;
  stroke-width: 0.5;
}

circle { transition: cx 15000ms, cy 15000ms; }
